<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Freifunk #cityname# - Knotenkarte</title>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/geomap.css" />

    <style type="text/css">
      #map {
        width: 100%;
        box-sizing:border-box;
      }
      .olPopup p { margin:0px; }
      .nodePopup { font-size: 0.8em; }
      .nodePopup .label { font-weight: bold; }
    </style>

    <script data-main="js/geomap" type="text/javascript" src="js/lib/require.js"></script>

  </head>

  <body onload="resize(); init()">
    <header>
      <h1><a href="#url#" id="sitelink">#sitename#</a></h1>
      <ul>
        <li><a href="graph.html">Graph</a></li>
        <li><a href="geomap.html">Karte</a></li>
        <li><a href="list.html">Liste</a></li>
        <li><a href="stats.html">Stats</a></li>
        <li><a href="traffic.html">Traffic</a></li>
        <li>
          <form name="form">
          <select name="link" SIZE="1" onChange="window.location.href = document.form.link.options[document.form.link.selectedIndex].value;">
            <option value="http://map.freifunk-mwu.de/geomap.html"> Freifunk Mainz, Wiesbaden & Umgebung (all) </option>
            <option value="http://gluonmap.freifunk-mainz.de/geomap.html"> Freifunk Mainz </option>
            <option value="http://gluonmap.freifunk-wiesbaden.de/geomap.html"> Freifunk Wiesbaden </option>
            <option selected value="#"> Community w&auml;hlen </option>
        </select>
        </form>
        </li>
      </ul>
      <button id="gpsbutton">Koordinaten beim nächsten Klick anzeigen</button>
    </header>
    <div id="map"></div>
  </body>
</html>
