<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Freifunk #cityname# - Traffic</title>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/list.css" />

    <style type="text/css">
      #map {
        width: 100%;
        box-sizing:border-box;
      }
      .olPopup p { margin:0px; }
      .nodePopup { font-size: 0.8em; }
      .nodePopup .label { font-weight: bold; }
      .ifblock {
          display: inline-block;
          vertical-align: top;
          text-align: center;
          margin: .1em;
          padding: .5em;
          min-width: 10em;
          border: #f9f9f9 1px solid;
          border-radius: .5em;
      }
      .ifimg {
           display: block;
      }
    </style>
  </head>

  <body onload="resize(); init()">
    <header>
      <h1><a href="#url#" id="sitelink">#sitename#</a></h1>
      <ul>
        <li><a href="graph.html">Graph</a></li>
        <li><a href="geomap.html">Karte</a></li>
        <li><a href="list.html">Liste</a></li>
        <li><a href="stats.html">Stats</a></li>
        <li><a href="traffic.html">Traffic</a></li>
        <li><a target="_blank" href="http://firmware.freifunk-mwu.de">Firmware</a></li>
      </ul>
    </header>
    <div class="container">
      <h1>Gateway Traffic</h1>
        <h2>Mainz Mesh</h2>
          <div class="ifblock">
            <h2>Spinat</h2>
              <div class="ifimg">
                <img src="http://spinat.freifunk-mwu.de/traffic/mzVPN-summary.png" alt="Spinat Mesh Summary" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/mzVPN-monthly.png" alt="Spinat Mesh Monthly" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/mzVPN-top10.png" alt="Spinat Mesh Top 10" /> <br />
              </div>
          </div>
          <div class="ifblock">
            <h2>Hinterschinken</h2>
              <div class="ifimg">
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/mzVPN-summary.png" alt="Hinterschinken Mesh Summary" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/mzVPN-monthly.png" alt="Hinterschinken Mesh Monthly" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/mzVPN-top10.png" alt="Hinterschinken Mesh Top 10" /> <br />
              </div>
         </div>
         <div class="ifblock">
            <h2>Lotuswurzel</h2>
              <div class="ifimg">
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/mzVPN-summary.png" alt="Lotuswurzel Mesh Summary" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/mzVPN-monthly.png" alt="Lotuswurzel Mesh Monthly" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/mzVPN-top10.png" alt="Lotuswurzel Mesh Top 10" /> <br />
              </div>
         </div>
        <h2>Internet</h2>
          <div class="ifblock">
            <h2>Spinat</h2>
              <div class="ifimg">
                <img src="http://spinat.freifunk-mwu.de/traffic/exitVPN-summary.png" alt="Spinat Internet Summary" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/exitVPN-monthly.png" alt="Spinat Internet Monthly" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/exitVPN-top10.png" alt="Spinat Internet Top 10" /> <br />
              </div>
          </div>
          <div class="ifblock">
            <h2>Hinterschinken</h2>
              <div class="ifimg">
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/exitVPN-summary.png" alt="Hinterschinken Internet Summary" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/exitVPN-monthly.png" alt="Hinterschinken Internet Monthly" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/exitVPN-top10.png" alt="Hinterschinken Internet Top 10" /> <br />
              </div>
         </div>
         <div class="ifblock">
            <h2>Lotuswurzel</h2>
              <div class="ifimg">
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/exitVPN-summary.png" alt="Lotuswurzel Internet Summary" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/exitVPN-monthly.png" alt="Lotuswurzel Internet Monthly" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/exitVPN-top10.png" alt="Lotuswurzel Internet Top 10" /> <br />
              </div>
         </div>
        <h2>Inter-City VPN</h2>
          <div class="ifblock">
            <h2>Spinat</h2>
              <div class="ifimg">
                <img src="http://spinat.freifunk-mwu.de/traffic/icVPN-summary.png" alt="Spinat IC-VPN Summary" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/icVPN-monthly.png" alt="Spinat IC-VPN Monthly" /> <br />
                <img src="http://spinat.freifunk-mwu.de/traffic/icVPN-top10.png" alt="Spinat IC-VPN Top 10" /> <br />
              </div>
          </div>
          <div class="ifblock">
            <h2>Hinterschinken</h2>
              <div class="ifimg">
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/icVPN-summary.png" alt="Hinterschinken IC-VPN Summary" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/icVPN-monthly.png" alt="Hinterschinken IC-VPN Monthly" /> <br />
                <img src="http://hinterschinken.freifunk-mwu.de/traffic/icVPN-top10.png" alt="Hinterschinken IC-VPN Top 10" /> <br />
              </div>
         </div>
         <div class="ifblock">
            <h2>Lotuswurzel</h2>
              <div class="ifimg">
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/icVPN-summary.png" alt="Lotuswurzel IC-VPN Summary" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/icVPN-monthly.png" alt="Lotuswurzel IC-VPN Monthly" /> <br />
                <img src="http://lotuswurzel.freifunk-mwu.de/traffic/icVPN-top10.png" alt="Lotuswurzel IC-VPN Top 10" /> <br />
              </div>
         </div>
    </div>
  </body>
</html>
